<app-menu-superior></app-menu-superior>
<div class="container main-container">

    <h2>Remover Contato</h2>

    <h3>Quer realmente remover o contato?</h3>
    <div>
        <h4>{{ contato.nome }}</h4>
        <hr />
        <dl class="dl-horizontal">
            <input type="hidden" asp-for="Id" />
            <dt>
            Data Nascimento
            </dt>
            <dd>
                {{ contato.dataNascimento | date:'dd/MM/yyyy' }}
            </dd>
            <dt>
            Email
            </dt>
            <dd>
            <p>{{ contato.email }}</p>
            </dd>       
        </dl>
        
        <form novalidate (ngSubmit)="removerContato()">
            <div class="form-actions no-color">
                <input type="submit" value="Remover" class="btn btn-danger" /> |
                <a [routerLink]="['/contatos']" class="btn btn-primary">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>