<app-menu-superior></app-menu-superior>
<div class="container main-container">
  <h2>Novo Evento</h2>
  <h4>Preencha corretamente os dados</h4>
  <hr />

  <form novalidate (ngSubmit)="editarEvento()" [formGroup]="eventoForm">

    <div class="form-horizontal">

      <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>

      <div class="form-group" [ngClass]="{'has-error': displayMessage.nome }">
        <label class="col-md-2 control-label" for="nome">Nome do Evento</label>
        <div class="col-md-10">
          <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" />
          <span class="text-danger" *ngIf="displayMessage.nome">
              <p [innerHTML]="displayMessage.nome"></p>
        </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Descrição Curta</label>
        <div class="col-md-10">
          <input class="form-control" type="text" placeholder="Descrição Curta" formControlName="descricaoCurta" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Mais detalhes</label>
        <div class="col-md-10">
          <textarea class="form-control" cols="40" rows="5" placeholder="Descrição Longa" formControlName="descricaoLonga"></textarea>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': displayMessage.categoriaId }">
        <label class="col-md-2 control-label">Categoria</label>
        <div class="col-md-10">
          <select class="form-control" formControlName="categoriaId" id="categoriaId">
          <option *ngFor="let categoria of categorias" value="{{categoria.id}}" >{{ categoria.nome }}</option>
       </select>
          <span class="text-danger" *ngIf="displayMessage.categoriaId">
              <p [innerHTML]="displayMessage.categoriaId"></p>
        </span>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': displayMessage.dataInicio }">
        <label class="col-md-2 control-label">Data de Início</label>
        <div class="col-md-10">
          <my-date-picker name="dataInicio" [options]="myDatePickerOptions" formControlName="dataInicio"></my-date-picker>
          <span class="text-danger" *ngIf="displayMessage.dataInicio">
              <p [innerHTML]="displayMessage.dataInicio"></p>
        </span>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': displayMessage.dataFim }">
        <label class="col-md-2 control-label">Data de Encerramento</label>
        <div class="col-md-10">
          <my-date-picker name="dataFim" [options]="myDatePickerOptions" formControlName="dataFim"></my-date-picker>
          <span class="text-danger" *ngIf="displayMessage.dataFim">
              <p [innerHTML]="displayMessage.dataFim"></p>
        </span>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': displayMessage.gratuito }">
        <div class="col-md-offset-2 col-md-10">
          <div class="checkbox">
            <input type="checkbox" name="gratuito" id="gratuito" [(ngModel)]="gratuito" formControlName="gratuito">
            <label for="gratuito">Será gratuito?</label>
            <span class="text-danger" *ngIf="displayMessage.gratuito">
              <p [innerHTML]="displayMessage.gratuito"></p>
          </span>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="!gratuito">
        <label class="col-md-2 control-label">Valor</label>
        <div class="col-md-10">
          <input class="form-control" value="0" type="text" placeholder="Valor R$" formControlName="valor" />
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error': displayMessage.online }">
        <div class="col-md-offset-2 col-md-10">
          <div class="checkbox">
            <input type="checkbox" name="online" [(ngModel)]="online" id="online" formControlName="online">
            <label for="online">Será online?</label>
            <span class="text-danger" *ngIf="displayMessage.online">
              <p [innerHTML]="displayMessage.online"></p>
          </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Empresa / Organização</label>
        <div class="col-md-10">
          <input class="form-control" type="text" placeholder="Empresa / Organização" formControlName="nomeEmpresa" />
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <span><button class="btn btn-success" type="submit" [disabled]='!eventoForm.valid'>Atualizar</button></span>
        </div>
      </div>

    </div>
  </form>

  <div id="EnderecoPartial" *ngIf="!online">
    <hr>
    <h3>Endereço</h3>

    <table class="table" *ngIf="!evento.endereco">
      <tr>
        <th>
          <button type="button" class="btn btn-info" (click)='showModal()'>
          <span title="Incluir Endereco" class="glyphicon glyphicon-plus-sign"></span> Adicionar Endereço
        </button>
        </th>
      </tr>
    </table>

    <table class="table table-hover" *ngIf="evento.endereco">
      <thead>
        <tr>
          <th>Logradouro</th>
          <th>Numero</th>
          <th>Complemento</th>
          <th>Bairro</th>
          <th>CEP</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tr>
        <td>
          {{ evento.endereco.logradouro }}
        </td>
        <td>
          {{ evento.endereco.numero }}
        </td>
        <td>
          {{ evento.endereco.complemento }}
        </td>
        <td>
          {{ evento.endereco.bairro }}
        </td>
        <td>
          {{ evento.endereco.cep }}
        </td>
        <td>
          {{ evento.endereco.cidade }}
        </td>
        <td>
          {{ evento.endereco.estado }}
        </td>
        <td>
          <div>
            <button type="button" class="btn btn-info" (click)='showModal()'>
              <span title="Alterar Endereco" class="glyphicon glyphicon-plus-pencil"></span> Alterar Endereço
            </button>
          </div>
        </td>
      </tr>
    </table>

  </div>


  <div id="myModal" class="modal fade in" [ngStyle]="{'display': modalVisible ? 'block' : 'none'}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)='hideModal()' type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
        </button>
          <h4 class="modal-title">Trocar Titulo</h4>
        </div>
        <form novalidate (ngSubmit)="atualizarEndereco()" [formGroup]="enderecoForm">
          <div class="modal-body">
            <div class="form-horizontal">

              <div class="alert alert-danger" *ngIf="errorsEndereco.length > 0">
                <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                <ul>
                  <li *ngFor="let error of errorsEndereco">{{ error }}</li>
                </ul>
              </div>

              <div class="form-group">
                <label class="col-md-2 control-label">Logradouro</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" placeholder="Logradouro" formControlName="logradouro" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2 control-label">Número</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" placeholder="Numero" formControlName="numero" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2 control-label">Complemento</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" placeholder="Complemento" formControlName="complemento" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2 control-label">Bairro</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" placeholder="Bairro" formControlName="bairro" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2 control-label">CEP</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" placeholder="CEP" formControlName="cep" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2 control-label">Cidade</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" placeholder="Cidade" formControlName="cidade" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-2 control-label">Estado</label>
                <div class="col-md-10">
                  <select class="form-control" formControlName="estado">
                    <option value="">Estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
              <span><button class="btn btn-success" type="button" (click)='atualizarEndereco()' [disabled]='!enderecoForm.valid'>Salvar</button></span>
              <input type="button" class="btn btn-info" value="Fechar" (click)='hideModal()' />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class='has-error'>{{eventoForm.valid}}</div>
  <div class='has-error'>{{eventoForm.values}}</div>
  <div class='has-error'>{{errors}}</div>
</div>