<app-menu-superior></app-menu-superior>
<div class="container main-container">
  <h2>Contatos</h2>

  <div class="row" *ngIf="validarClaim({ nome: 'Contatos', valor: 'Gerenciar' })">
    <div class="col-md-12">
      <div class="pull-left">
        <a class="btn btn-primary" [routerLink]="['/contatos/novo']">
          <span title="Novo Contato" class="glyphicon glyphicon-plus-sign"></span> Novo Contato
        </a>
      </div>
    </div>
  </div>
  <br>

  <div class='text-danger' *ngIf='errorMessage'>{{errorMessage}}</div>

  <div class="page-size">
    <div class="panel panel-default">
      <table class="table table-striped" *ngIf='contatos && contatos.length'>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Data de Nascimento</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let contato of contatos'>
            <td><b>{{ contato.nome | titlecase }}</b></td>
            <td>{{ contato.email }}</td>
            <td>{{ contato.dataNascimento | date:'dd/MM/yyyy' }}</td>
             <td>
              <a *ngIf="validarClaim({ nome: 'Contatos', valor: 'Ver' })"
                [routerLink]="['/contatos/detalhes', contato.id]"  title="Detalhes" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span>
              </a>
              <a *ngIf="validarClaim({ nome: 'Contatos', valor: 'Gerenciar' })"
                [routerLink]="['/contatos/alterar', contato.id]"  title="Alterar" class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              <a *ngIf="validarClaim({ nome: 'Contatos', valor: 'Gerenciar' })"
                [routerLink]="['/contatos/remover', contato.id]"  title="Remover" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>