<app-menu-superior></app-menu-superior>
<div class="container main-container">
    <div class="row">
        <div class="carousel-inner">
            <carousel>
                <slide>
                    <div class="item active">
                        <img src="http://placehold.it/1200x400/16a085/ffffff&text=Sobre Nós">
                        <div class="carousel-caption">
                            <h3>Mantenha seus contatos atualizados!</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, consetetur sadipscing elitr.</p>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="item active">
                        <img src="http://placehold.it/1200x400/e67e22/ffffff&text=Parceiros">
                        <div class="carousel-caption">
                            <h3>Conheça quem nos apoia</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="item active">
                        <img src="http://placehold.it/1200x400/2980b9/ffffff&text=Ajude-nos">
                        <div class="carousel-caption">
                            <h3>Compartilhe com os amigos</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur
                                sadipscing elitr.</p>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>